/* Universal formatting of boxes, padding, and margin */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body formatting */
body {
    /* Changes body background color to #d9dcd6 */
    background-color: #d9dcd6;
}

/* Header formatting */
.header {
    /* Changes header padding to 20px  */
    padding: 20px;
    /* Updates font family for header class to Trebuchet MS */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* Changes background color to #2a607c */
    background-color: #2a607c;
    /* Changes header font color to white */
    color: #ffffff;
}

/* Formatting changes to Header class's h1 */
.header h1 {
    /* Displays header elements inline */
    display: inline-block;
    /* Displays header font at 48px */
    font-size: 48px;
}

/* Formatting for header and seo class for h1 */
.header h1 .seo {
    /* Changes color of "seo" to grey/#d9dc6 */
    color: #d9dcd6;
}

/* Formatting to class header and element nav */
.header nav {
    /* Addings padding to the top of header nav */
    padding-top: 15px;
    /* Moves margin of header nav 20px to the right */
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* Formatting to class header nav ul */
.header nav ul {
    /* Removing the list style (bullets) from view */
    list-style-type: none;
}

/* Formatting to class header nav ul li (list elements) */
.header nav ul li {
    /* Setting display settings of list items to inline-block (same line, in a block horizontally) */
    display: inline-block;
/* Moving list elements margin 25px to the left */
    margin-left: 25px;
}

/* Formatting a element (links) */
a {
    /* Font color of links = white */
    color: #ffffff;
    /* No font decoration of links */
    text-decoration: none;
}

/* Formatting paragraphs */
p {
    /* Font size of paragraphs = 16px */
    font-size: 16px;
}

/* Formatting hero image */
.hero {
    /* Hero image is 800px in height */
    height: 800px;
    /* Hero image is 100% width of webpage */
    width: 100%;
    /* Hero image has a bottom margin of 25px */
    margin-bottom: 25px;
    /* Hero image is located at the following URL */
    background-image: url("../images/digital-marketing-meeting.jpg");
    /* Hero image background size is cover */
    background-size: cover;
    /* Hero image position is centered */
    background-position: center;
}

/* Formatting for float-left class elements */
.float-left {
    /* Formatting element to float to the left */
    float: left;
    /* Float-left class elements have margin of 25px to the right */
    margin-right: 25px;
}

/* Formatting for float-right class elements */
.float-right {
    /* Formatting element to float to the right */
    float: right;
    /* Float-right class elements have margin of 25px to the left */
    margin-left: 25px;
}

/*  */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit-lead, .benefit-brand, .benefit-cost {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit-lead, .benefit-brand, .benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit-lead img, 
.benefit-brand img, 
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

.search-engine-optimization,
.online-reputation-management,
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* .online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
} */

.search-engine-optimization img {
    max-height: 200px;
}

.online-reputation-management img {
    max-height: 200px;
}

.social-media-marketing img {
    max-height: 200px;
}

.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
